* {
  background-color: ;
}
body {
  margin: 0;
  padding: 0;
  background: #fbe4e3;
}

header {
  padding: 15px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

.links {
  list-style: none;
  display: flex;
  justify-content: end;
}

.links li {
  margin-left: 20px;
}

.links li a {
  color: #dc4a4a;
  text-decoration: none;
  font-size: x-large;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  text-align: center;
}

table th,
table td {
  padding: 15px;
}

.table {
  display: flex;
  align-content: center;
  justify-content: center;
}

table tr:nth-child(1) {
  background-color: #d73131;
  color: white;
}
table tr:nth-child(even) {
  background-color: white;
}
table tr:nth-child(2n + 3) {
  background-color: #f3f3f3;
}
table caption {
  padding: 20px;
  text-transform: bold;
  font-size: x-large;
}

table tr td[rowspan] {
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: white;
}
